.vehicleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.vehicleTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.badgesContainer {
  display: flex;
  gap: 8px;

  max-width: 602px;
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;

  max-height: 48px;

  overflow: hidden;
  transition: max-height 250ms ease;
}

.showAllBages {
  max-height: 500px;
  overflow: visible;
}

.showAllButton {
  padding: 5px 0;

  font-size: 14px;
  color: var(--text-secondary);
}

.badgeItem {
  padding: 12px 18px;

  border-radius: 100px;
  background: var(--color-gray-light);
  mix-blend-mode: multiply;
}
