.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 888px;
}

.campersSection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Button */

.loadMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 56px;
  min-width: 145px;
  padding: 32px;
  margin: 0 auto;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--text-primary);

  border-radius: 200px;
  border: 1px solid var(--border);
  background-color: var(--white);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loadMoreButton:hover {
  border-color: var(--link-primary-hover);
}

/* Error */

.errorText {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: var(--text-primary);
}
