.camperDetails {
  display: flex;
  gap: 24px;

  padding: 64px 0 88px;
}

.vehicleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicleInfo {
  width: 650px;
  padding: 24px;

  border-radius: 16px;
  background-color: var(--surface-primary);
}

.vehicleBlock {
  min-height: 304px;
}

.title {
  margin-bottom: 8px;

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--text-primary);
}

.infoWrapper {
  margin-bottom: 24px;
}

.infoGroup {
  display: flex;
  gap: 16px;

  margin-bottom: 16px;
}

.infoItem {
  display: inline-flex;
  align-items: center;
}

.vehicleRating {
  font-size: 16px;
  line-height: 1.5;
}

.price {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.vehicleDescription {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-secondary);
}

.separateLine {
  margin: 16px 0;

  border: none;
  border-top: 1px solid var(--border);
}

/* Specifications */

.specsList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specsItem {
  display: flex;
  justify-content: space-between;
}

.specsText {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

/* Icons */

.detailsIcons {
  width: 16px;
  height: 16px;
  margin: 4px 4px 4px 0;
  fill: var(--text-primary);
}

.starIcon {
  fill: var(--rating);
}
