/* Main photo*/

.swiperMainWrap {
  width: 638px;
  height: 505px;
}

.mainSwiper {
  width: 100%;
  height: 100%;
}

.mainSwiper :global(.swiper-slide) {
  position: relative;
}

.mainImage {
  object-fit: cover;
  border-radius: 17px;
}

/* Thumbs photos*/

.swiperThumbsWrap {
  width: 636px;
  height: 145px;
}

.thumbsSwiper {
  width: 100%;
  height: 100%;

  margin-top: 27px;
}

.thumbsSwiper :global(.swiper-slide) {
  position: relative;
}

.thumbsImage {
  object-fit: cover;
  border-radius: 16px;
}
