.mainSwiper {
  width: 638px;
  height: 505px;
}

.mainImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 17px;
}

.thumbsSwiper {
  width: 638px;
  height: 145px;

  margin-top: 27px;
}

.thumbsSwiper :global(.swiper-slide) {
  width: 135px;
  height: 145px;
}

.thumbsImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
